@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;

    --primary: 202 100% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 17.5%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 17.5%;
    --muted-foreground: 0 0% 63%;

    --accent: 0 0% 17.5%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 80% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 17.5%;
    --input: 0 0% 17.5%;
    --ring: 202 100% 40%;

    --radius: 0.5rem;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
